header{
    font: normal normal 100px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #e6a80b;
    height: 100px;
    padding-bottom: 3px;
    text-shadow: 2px 2px 2px;
    padding-left: 150px;
}



footer{
    color: white;
    height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffd902f8, #bb750d ,#9e630b, #000000);
    background-attachment: fixed;
}

div{text-align: center;
    box-shadow: 5px 5px 10px;
    padding: 10px;
   
    
}


img{
    border: solid 2px white;
}
#item1{ 
    padding-left: 100px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    font-size: 36px;
    text-decoration: none;
    margin-right: 65px;
}
