@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

*{padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
}

main{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
  }




header{
    font-family: "Unbounded", sans-serif;
    font-size: 75px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: white;
    height: 100px;
    padding-bottom: 3px;
    margin: auto;
   
}



footer{
    color: white;
    height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: black;
}

div{text-align: center;
  
    padding: 10px;
   
    
}


img{
    border: solid 2px white;
}

.navbar{
    display: flex;
    align-items: center;
 }

.navbar ul{
    display: flex;
    text-align: justify;
}

.navbar ul li{
    list-style: none;
    text-align: justify;
}
.navbar ul a{
    font-size: 36px;
    text-decoration: none;
    margin-right: 50px;
    justify-content: space-between;
    margin-left: 200px;
    color: white;
}
.navbar :hover > ol{
    display: block; 
    text-decoration: underline;
    
    
}

.navbar ol{

    display: none;
    margin-left: 100px;
    
}


